<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700display=swap" rel="stylesheet">
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet">
    <link href="./css/styles.css" rel="stylesheet">

    <title>BOLSA DE EMPLEADOS</title>
  </head>
  <body>

    <ul class="menu">
            <li><a href="Principal.html">Menu Principal</a></li>
            <li><a href="index.html">Formulario</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Acerca De</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
   <section class="contact-box">
       <div class="row no-gutters bg-dark">
           <div class="col-xl-5 col-lg-12 register-bg">
            <div class="position-absolute testiomonial p-4">
                <h3 class="font-weight-bold text-light">Encunetra Trabajo cerca de ti y que pagen bien.</h3>
                <p class="lead text-light">La nueva manera de conseguir trabajo rapido.</p>
            </div>
           </div>
           <div class="col-xl-7 col-lg-12 d-flex">
                <div class="container align-self-center p-6">
                    <h1 class="font-weight-bold mb-3">Formulario de Empleo</h1>
                    <center>
                     <div class="box">
                        <input type="txt" name="Buscar" placeholder="Buscar Informacion" class="src" autocomplete="off">
                    </div>
                    </center>
                    
                    <p class="text-muted mb-5">Ingresa la siguiente información para encontrar empleo.</p>
                   
                    <form>
                        <div class="form-row mb-2">
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">Compañia<span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder=" EL nombre de la compañia">
                            </div>
                            <div class="form-group col-md-6">
                                <label class="font-weight-bold">URL <span class="text-danger">*</span></label>
                                <input type="text" class="form-control" placeholder="Pon aqui la URL">
                            </div>
                        </div>
                        <div class="form-group mb-3">
                            <label class="font-weight-bold">Posicion <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" placeholder="Ingresa tu posicion de trabajo">
                        </div>
                        <div class="form-group mb-3">
                            <label class="font-weight-bold">Lugar <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" placeholder="Ingresa donde vives">
                        </div>
                        <div class="form-group mb-3">
                            <label class="font-weight-bold">Descripcio <span class="text-danger">*</span></label>
                            <input type="password" class="form-control" placeholder="Pon una Descripcio">
                        </div>
                        <div class="form-group mb-5">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                                <label class="form-check-label text-muted">Al seleccionar esta casilla aceptas nuestro aviso de privacidad y los términos y condiciones</label>
                            </div>
                        </div>                       
                        <button class="btn btn-primary width-100">Regístrate</button>
                    </form>
                    <small class="d-inline-block text-muted mt-5">Todos los derechos reservados | © 2021 AAAP</small>
                </div>
           </div>
       </div>
   </section>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>